@use "../abstracts/mixins";
@use "../abstracts/variables";

// FOOTER =========

.footer {
  background-color: variables.$quaternary;
  color: variables.$quinternary;
  padding: 15px 20px 30px;
  &__title {
    font-size: 19px;
    font-weight: 300;
    font-family: "Shrikhand", sans-serif;
    padding-bottom: 10px;
  }
  a {
    @include mixins.flex-center;
    justify-content: left;
    padding-bottom: 10px;
  }
  p {
    margin: 0;
    white-space: nowrap;
  }
  .fa-solid {
    padding-right: 10px;
  }
  .fa-handshake-angle {
    font-size: 12px;
  }
  @media #{variables.$xlscreen-up} {
      display: flex;
      justify-content: space-evenly;
  }
  @media #{variables.$small-up} {
      padding: 15px 40px 30px;
  }
}
