@use "../abstracts/mixins";

// HEADER =========

.header {
  @include mixins.flex-center;
  position: relative;
  &__title {
    font-size: 30px;
    font-weight: 500;
    font-family: "Shrikhand", sans-serif;
    margin: 20px 0 15px;
  }
  .fa-arrow-left {
    position: absolute;
    top: 25px;
    left: 5%;
    font-size: 23px;
  }
}
