/* LOCATION */

.location {
  @include flex-center;
  background-color: rgba(226, 226, 226, 0.89);
  p{
    font-weight: 400;
    font-size: 16px;
    margin: 18px ;
  }
}

/* EXPLORE */

.explore {
  @include flex-center;
  flex-direction: column;
  text-align: center;
  padding: 20px 15px 50px;
  background-color: rgb(240, 240, 240);
  .explore-title {
    margin: 0 40px;
    margin-top: 18px;
    margin-bottom: 0;
  }
  p {
    font-size: 18px;
    font-weight: 100;
  }
  .explore-btn {
    margin-top: 20px;
  }
}

/* LANDING_PAGE */

.landing-page img {
  width: 100%;
}

.lanoteenchantee img {
  width: 100%;
}

.lapalettedugout img {
  width: 100%;
}

.ledelicesdessens img {
  width: 100%;
}

/* MENU */

.menu-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* FUNCTIONNING */

.functioning {
  padding: 30px 20px 40px;
  h2 {
    margin-bottom: 30px;
  }
  .cards-container {
    padding: 0 5px 0 10px;
  }
}

/* RESTAURANT */

.restaurant {
  margin: 0;
  background-color: rgba(211, 211, 211, 0.24);
  padding: 35px 20px 50px;
}
