@use "../abstracts/variables";
@use "../abstracts/placeholders";

/****** ANIMATIONS ******/
@keyframes heart {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

/****** LOADING-SPINNER ******/

.loader {
  position: fixed;
  inset: 0;
  z-index: 1;
  background-color: variables.$quaternary;
  height: 100vh;
  opacity: 0.9;
  animation: delay 500ms forwards;
  animation-delay: 3s;
  @keyframes delay {
    to {
      opacity: 0;
    }
  }
  .loader-el:after {
    content: "";
    width: 100px;
    height: 100px;
    position: absolute;
    left: 50%;
    top: 45vh;
    margin-left: -3rem;
    border: 3px solid #fff;
    border-radius: 50%;
    border-color: variables.$primary variables.$tertiary variables.$secondary
      variables.$tertiary;
    animation: loader 2s linear infinite;
  }
  @keyframes loader {
    to {
      transform: rotate(360deg);
    }
  }
}
