@use "../abstracts/variables";

//ANIMATIONS =========

// LOADING-SPINNER =========

.loader {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  inset: 0;
  z-index: 1;
  background-color: variables.$quaternary;
  height: 100%;
  width: 100%;
  opacity: 0.9;
  animation: load 500ms 4s forwards;
  @keyframes load {
    to {
      opacity: 0;
      transform: translateY(100%);
    }
  }
  .wave {
    width: 10px;
    height: 100px;
    border-radius: 10px;
    margin: 10px;
    animation: wave 2s linear infinite;
  }
  .wave:nth-child(1) {
    animation-delay: 0.2s;
    background-color: variables.$primary;
  }
  .wave:nth-child(2) {
    animation-delay: 0.4s;
    background-color: variables.$tertiary;
  }
  .wave:nth-child(3) {
    animation-delay: 0.6s;
    background-color: variables.$secondary;
  }

  @keyframes wave {
    0% {
      transform: scale(0);
    }
    50% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
}

// CHECK-ROTATION =========

@keyframes check-rotate {
  from {
    transform: rotate(-270deg);
  }
  to {
    transform: rotate(0deg);
  }
}

// MENUS-TRANSLATION =========

@keyframes turn-up {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  35% {
    transform: translateY(60%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
  }
}
