@use "../abstracts/variables";

//ANIMATIONS =========

// LOADING-SPINNER =========

.loader {
  position: fixed;
  inset: 0;
  z-index: 1;
  background-color: variables.$quaternary;
  height: 100vh;
  opacity: 0.9;
  animation: load 500ms 3s forwards;
  @keyframes load {
    to {
      opacity: 0;
      transform: translateY(100%);
    }
  }
  .loader__el:after {
    content: "";
    width: 100px;
    height: 100px;
    position: absolute;
    left: 50%;
    top: 45vh;
    margin-left: -3rem;
    border: 3px solid transparent;
    border-radius: 50%;
    border-color: variables.$primary variables.$tertiary variables.$secondary
      variables.$tertiary;
    animation: loader 3s linear infinite;
  }
  @keyframes loader {
    to {
      transform: rotate(360deg);
    }
  }
}

// CHECK-ROTATION =========

@keyframes check-rotate {
  from {
    transform: rotate(-270deg);
  }
  to {
    transform: rotate(0deg);
  }
}

// MENUS-TRANSLATION =========

@keyframes turn-up {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  35% {
    transform: translateY(60%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
  }
}

