@use "../abstracts/variables";
@use "../abstracts/mixins";

// HEADER-SHADOW =========

.header-shadow {
  @include mixins.header-shadow;
}

// LOCATION =========

.location {
  @include mixins.flex-center;
  @include mixins.color-back(70%);
  p {
    font-weight: 400;
    font-size: 16px;
    margin: 18px;
  }
}

// EXPLORE =========

.explore {
  @include mixins.flex-center;
  flex-direction: column;
  text-align: center;
  padding: 20px 20px 50px;
  @include mixins.color-back;
  .explore__title {
    margin: 18px 40px 0;
  }
  p {
    font-size: 18px;
    font-weight: 100;
  }
  .btn {
    margin-top: 20px;
  }
}

// FUNCTIONING =========

.functioning {
  @include mixins.padding-sections;
  .cards-container {
    @include mixins.flex-center;
    flex-direction: column;
    padding: 0 5px 0 10px;
    @media #{variables.$medium-up} {
      flex-direction: row;
      gap: 4%;
    }
  }
  @media #{variables.$small-up} {
    margin: 0 20px;
  }
  @media #{variables.$xlscreen-up} {
    margin: 0 50px;
  }
}

// RESTAURANTS =========

.restaurant {
  @include mixins.color-back;
  @include mixins.padding-sections;
  flex-basis: 50%;
  @media #{variables.$small-up} {
    margin: 0 20px 50px;
    border-radius: 20px;
  }
  @media #{variables.$xlscreen-up} {
    margin: 0 50px 50px;
  }
  .restaurant-cards {
    @include mixins.nowrap-text;
    @media #{variables.$medium-up} {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 4%;
      padding: 0 20px;
    }
    @media #{variables.$large-up} {
      grid-template-columns: repeat(4, 1fr);
    }
    @media #{variables.$xlscreen-up} {
      padding: 0 4%;
    }
  }
}
