@use "../abstracts/placeholders";
@use "../abstracts/variables";
@use "../abstracts/mixins";

/****** HEADER-SHADOW ******/

.header-shadow {
  @extend %header-shadow;
}

/****** LOCATION ******/

.location {
  @extend %flex-center;
  @include mixins.color-back(70%);
  p {
    font-weight: 400;
    font-size: 16px;
    margin: 18px;
  }
}

/****** EXPLORE ******/

.explore {
  @extend %flex-center;
  flex-direction: column;
  text-align: center;
  padding: 20px 20px 50px;
  @include mixins.color-back;
  .explore-title {
    margin: 18px 40px 0;
  }
  p {
    font-size: 18px;
    font-weight: 100;
  }
  .btn {
    margin-top: 20px;
  }
}

/****** FUNCTIONNING ******/

.functioning {
  @extend %padding-sections;
  .cards-container {
    @extend %flex-center;
    flex-direction: column;
    padding: 0 5px 0 10px;
    @media (min-width: variables.$tablet) {
      flex-direction: row;
      gap: 4%;
    }
  }
}

/****** RESTAURANTS ******/

.restaurant {
  @include mixins.color-back;
  @extend %padding-sections;
  flex-basis: 50%;
  .restaurant-cards {
    @include mixins.nowrap-text;
  }
  @media (min-width: variables.$tablet) {
    .restaurant-cards {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 4%;
      padding: 0 20px;
    }
  }
  @media (min-width: variables.$desktop) {
    .restaurant-cards {
      grid-template-columns: repeat(4, 1fr);
    }
  }
  @media (min-width: variables.$screen) {
    .restaurant-cards {
      padding: 0 30px;
    }
  }
}
@media (min-width: variables.$mobile) {
  .restaurant,
  .functioning {
    margin: 0 20px 20px;
    border-radius: 20px;
  }
  .footer {
    padding: 15px 40px 30px;
  }
}
@media (min-width: variables.$screen) {
  .restaurant {
    margin: 0 50px 50px;
  }
  .functioning {
    margin: 0 50px;
  }
}
