@use "../abstracts/variables";
@use "../abstracts/mixins";

// BUTTON =========

.btn {
  @include mixins.btn-back;
  @include mixins.btn-shadow;
  border-radius: 30px;
  color: variables.$quinternary;
  padding: 16px 25px;
  transition: all 100ms ease;
  &:hover {
    background-image: variables.$light-linear;
    @include mixins.btn-shadow-hover;
  }
  &.btn-wide {
    padding: 16px 45px;
    margin: 25px 0;
  }
}
