@use "../abstracts/variables";
@use "../abstracts/placeholders";
@use "../abstracts/mixins";
@use "../base/animations";

/****** FUCTIONNING-CARD *****/

.functioning {
  counter-reset: count;
  .functioning-card {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    border-radius: 20px;
    @include mixins.color-back;
    @extend %function-shadow;
    padding: 28px 20px;
    margin: 5px 0 20px;
    list-style-type: none;
    transition: all 100ms ease;
    span {
      @include mixins.nowrap-text;
    }
    &:hover {
      background-color: lighten(variables.$primary, 34%);
      cursor: pointer;
      i {
        color: variables.$primary;
        opacity: 1;
      }
    }
    &::before {
      content: counter(count);
      counter-increment: count;
      position: absolute;
      left: -12px;
      font-size: 14px;
      background-color: variables.$primary;
      color: #fff;
      border-radius: 50%;
      width: 25px;
      height: 25px;
      @extend %flex-center;
    }
    i {
      opacity: 0.5;
      padding: 0 6% 0 4%;
    }
  }
}

/****** RESTAURANTS-CARDS ******/

.restaurant-card {
  position: relative;
  border-radius: 15px;
  background-color: variables.$quinternary;
  @extend %card-shadow;
  @extend %headings-position;
  margin-bottom: 20px;
  img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
  }
  &.new::before {
    @extend %new;
  }
  .card-infos {
    &::before {
      @include mixins.heart;
    }
    &::after {
      @include mixins.heart;
      @extend %btn-back;
      color: transparent;
      font-weight: 900;
      opacity: 0;
      transition: all 100ms ease;
    }
    &:hover::after {
      opacity: 1;
      transform: scale(1.1);
    }
  }
}
