@use "../abstracts/variables";
@use "../abstracts/placeholders";
@use "../abstracts/mixins";

/****** FUCTIONNING-CARD *****/
.functioning-card {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  border-radius: 20px;
  @include mixins.color-back;
  @extend %function-shadow;
  padding: 26px 20px;
  margin: 5px 0 20px;
  transition: all 100ms ease;
  &:hover {
    background-color: lighten(variables.$primary, 34%);
    cursor: pointer;
    i {
      color: variables.$primary;
      opacity: 1;
    }
  }

  .list-numbers {
    position: absolute;
    left: -10px;
    font-size: 14px;
    background-color: variables.$primary;
    color: #fff;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    @extend %flex-center;
  }
  i {
    opacity: 0.5;
    padding: 0 20px 0 15px;
  }
}

/****** RESTAURANTS-CARDS ******/

.restaurant-card {
  position: relative;
  border-radius: 15px;
  background-color: #fff;
  @extend %card-shadow;
  margin-bottom: 20px;
  img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
  }
  .new {
    @extend %flex-center;
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 13px;
    background-color: variables.$tertiary;
    color: darken(variables.$tertiary, 45%);
    padding: 6px 14px;
    border-radius: 1px;
  }
  .card-infos-heart {
    @extend %flex-center;
    justify-content: space-between;
  }
  .fa-regular.fa-heart {
    position: relative;
    margin-right: 20px;
    font-size: 22px;
    color: variables.$primary;
    &:hover {
      opacity: 0;
    }
  }
  .fa-solid.fa-heart {
    position: absolute;
    right: 0;
    color: variables.$secondary;
    margin-right: 20px;
    font-size: 22px;
    opacity: 0;
    &:hover {
      opacity: 1;
    }
  }

  h3 {
    padding: 0 15px;
    margin-bottom: 0;
  }
  p {
    margin: 5px 0;
    padding: 0 0 10px 15px;
  }
}
