@use "../abstracts/variables";
@use "../abstracts/placeholders";
@use "../abstracts/mixins";
@use "../base/animations";

/****** FUCTIONNING-CARD *****/
.functioning-card {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  border-radius: 20px;
  @include mixins.color-back;
  @extend %function-shadow;
  padding: 28px 20px;
  margin: 5px 0 20px;
  transition: all 100ms ease;
  span {
    @include mixins.nowrap-text;
  }
  &:hover {
    background-color: lighten(variables.$primary, 34%);
    cursor: pointer;
    i {
      color: variables.$primary;
      opacity: 1;
    }
  }

  .list-numbers {
    position: absolute;
    left: -12px;
    font-size: 14px;
    background-color: variables.$primary;
    color: #fff;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    @extend %flex-center;
  }
  i {
    opacity: 0.5;
    padding: 0 20px 0 12px;
  }
}

/****** RESTAURANTS-CARDS ******/

.restaurant-card {
  position: relative;
  border-radius: 15px;
  background-color: variables.$quinternary;
  @extend %card-shadow;
  @extend %headings-position;
  margin-bottom: 20px;
  img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
  }

  .card-infos-heart {
    @extend %flex-center;
    justify-content: space-between;
  }
  .fa-regular.fa-heart {
    opacity: 0.7;
    position: relative;
    @extend %heart-position-home;
  }
  .fa-solid.fa-heart {
    position: absolute;
    right: 0;
    color: transparent;
    background-image: variables.$linear;
    background-clip: text;
    -webkit-background-clip: text;
    @extend %heart-position-home;
    opacity: 0;
    &:hover {
     opacity: 1;
     animation: heart 50ms;
    }
  }
  &.new::before {
    @extend %new;
  }
}
