@use "../abstracts/placeholders";
@use "../abstracts/variables";
@use "../abstracts/mixins";

.menu-card {
  display: flex;
  align-items: flex-end;
  @extend %card-shadow;
  @extend %headings-position;
  border-radius: 17px;
  background-color: variables.$quinternary;
  margin: 20px -5px;
  h3 {
    font-weight: 500;
  }
  .price {
    font-weight: 500;
    padding-right: 15px;
    margin-left: auto;
    margin-bottom: 10px;
  }
  .check {
    background-color: variables.$tertiary;
    margin: auto 0;
  }
}
