@use "../abstracts/variables";
@use "../abstracts/mixins";
@use "../base/animations";

.menu-card {
  display: flex;
  @include mixins.card-shadow;
  @include mixins.headings-position;
  border-radius: 17px;
  background-color: variables.$quinternary;
  margin: 20px -5px;
  overflow: hidden;
  animation: turn-up 600ms backwards;
  @for $i from 2 through 5 {
    &:nth-child(#{$i}) {
      animation-delay: 100ms * $i;
    }
  } 
  &:hover {
    cursor: pointer;
   .menu-card__check {
      margin-right: 0;
      overflow: hidden;
      white-space: nowrap;
    }
    .fa-solid.fa-check {
      animation: check-rotate 400ms ease-in;
    }
  }
  h4,
  p {
    @include mixins.nowrap-text;
  }
  h4 {
    font-weight: 500;
  }
  p {
    margin: 5px 0 3px;
  }
  &__infos {
    overflow: hidden;
  }
  &__price {
    align-self: flex-end;
    font-weight: 500;
    padding: 0 17px 0 15px;
    margin-left: auto;
    margin-bottom: 15px;
  }
  &__check {
    @include mixins.flex-center;
    background-color: variables.$tertiary;
    margin-right: -80px;
    min-width: 78px;
    transition: all 400ms ease;
    .fa-solid.fa-check {
      display: grid;
      place-items: center;
      height: 30px;
      width: 30px;
      border-radius: 50%;
      background-color: variables.$quinternary;
      color: variables.$tertiary;
      font-size: 20px;
    }
  }
}
